# ScRNA-seq H5AD

In [15]:
import pandas as pd

In [12]:
path= '../data/brca/Bhupinder_etal_2021_BRCA_bulk_sc/bulk/GSE161892_GeneCountMatrix.txt'
df = pd.read_csv(path, delimiter="\t")

In [14]:
df.head(1).iloc[0,:]

GeneID           100287102
Length                1652
Basal-0233               2
LP-0233                  0
ML-0233                  4
Stroma-0233              1
Basal-0232               1
LP-0232                  4
ML-0232                  0
Stroma-0232              0
Basal-1105               6
LP-1105                  8
ML-1105-1                9
ML-1105-2                3
Basal-0507-R             2
Stroma-0507-R            1
ML-0507-R                2
LP-0507-R                5
Basal-0507-L             1
Stroma-0507-L            0
ML-0507-L                0
LP-0507-L                0
Basal-0218               0
LP-0218                  0
ML-0218                  0
ML-0165                  0
LP-0165                  0
Basal-0165               0
LP-0408                  1
Basal-0408               0
Stroma-0408              0
ML-0408                  2
Basal-0030               0
LP-0030                  0
ML-0030                  0
Stroma-0030              0
Name: 0, dtype: int64

In [19]:
df.head(1)

,GeneID,Length,Basal-0233,LP-0233,ML-0233,Stroma-0233,Basal-0232,LP-0232,ML-0232,Stroma-0232,...,LP-0165,Basal-0165,LP-0408,Basal-0408,Stroma-0408,ML-0408,Basal-0030,LP-0030,ML-0030,Stroma-0030
0,100287102,1652,2,0,4,1,1,4,0,0,...,0,0,1,0,0,2,0,0,0,0

In [16]:
path= '../data/brca/Bhupinder_etal_2021_BRCA_bulk_sc/bulk/GSM4916468_LP-0233.txt'
lp_0233_df =pd.read_csv(path, delimiter="\t")

In [17]:
lp_0233_df

          GeneID  Length  LP-0233
0      100287102    1652        0
1         653635    1769       71
2      102466751      68        0
3      100302278     138        0
4         645520    1130        0
...          ...     ...      ...
28390  105379557    1010        0
28391  105379559     456        0
28392  105379561    2275        0
28393  102723822    1728        0
28394  102723891     346        0

[28395 rows x 3 columns]

In [18]:
lp_0233_df["GeneID"].unique()

array([100287102,    653635, 102466751, ..., 105379561, 102723822,
       102723891])